.navbar {
  @apply bg-gray-800;
  & section {
    @apply px-4 
      sm:px-6 
      lg:px-8
      flex 
      h-16 
      items-center 
      justify-between;
    & div:nth-child(1) {
      @apply flex
        items-center;
      & img {
        @apply h-8 
          w-8;
      }
      & ul {
        @apply ml-10 
          md:flex 
          items-baseline 
          space-x-4;
        & li {
          @apply relative;
          & a {
            @apply text-gray-300 
            hover:bg-gray-700 
            hover:text-white 
            rounded-md 
            px-3 
            py-2 
            text-sm 
            font-medium;
            &.active {
              @apply bg-gray-900 
              text-white;
            }
          }
          & .subMenu {
            @apply hidden absolute 
              left-0
              pt-3.5
              m-0
              w-48
              shadow-lg;
              li {
                @apply
                w-full
                !m-0;
              }
            & a {
              @apply block px-4 
                py-2 
                text-sm
                w-full
                bg-neutral-100 
                rounded-none
                dark:bg-neutral-200
                text-gray-700 
                hover:bg-gray-500 
                hover:text-gray-200;
              &.active {
                @apply bg-gray-900 
                text-gray-200;
              }
            }
          }
          &:hover .subMenu {
            @apply block z-10;
          }
        }
      }
    }
    & div:nth-child(2) {
      @apply hidden 
        md:flex;
      & button {
        @apply relative 
          rounded-full 
          bg-gray-800 
          p-1 
          text-gray-400 
          hover:text-white 
          focus:outline-none 
          focus:ring-2 
          focus:ring-white 
          focus:ring-offset-2 
          focus:ring-offset-gray-800;
      }
      & div:nth-child(2) {
        @apply relative 
          ml-3
          hover:block;
        &:hover div {
          @apply block;
        }
        & div {
          @apply absolute 
            right-0 
            z-10 
            w-48 
            pt-1 
            origin-top-right  
            shadow-lg 
            ring-1 
            ring-black 
            ring-opacity-5 
            focus:outline-none 
            hidden;
          & a {
            @apply block  
            px-4 
            py-2 
            text-sm
            bg-neutral-100 
            dark:bg-neutral-200
            text-gray-700 
            hover:bg-gray-500 
            hover:text-gray-200;
          }
          & a:nth-child(1) {
            @apply rounded-t-md;
          }
          & a:last-child {
            @apply rounded-b-md 
            text-red-700 
            hover:bg-red-200;
          }
        }
      }
    }
  }
}
