.ticket {
  @apply block 
  rounded-lg 
  bg-neutral-100 
  dark:bg-neutral-200
  p-6 
  shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)];

  & h5 {
    @apply mb-2 
    text-xl 
    font-medium 
    leading-tight 
    text-neutral-800;
  }

  & section {
    @apply flex 
    gap-1.5;

    & div {
      @apply relative 
      px-[0.65em] 
      pb-[0.25em] 
      pt-[0.35em] 
      text-center 
      text-[0.75em] 
      font-bold 
      leading-none 
      text-neutral-800
      before:absolute 
      before:left-[-0.5rem] 
      before:w-[0.75rem] 
      before:h-[0.75rem] 
      before:rounded-full 
      before:bg-[var(--bg-color)];
    }
  }

  & p {
    @apply mb-4 
    text-base 
    text-neutral-600;
  }
}
