.ticket {
  @apply block 
  rounded-lg 
  bg-neutral-100  
  !text-neutral-800
  dark:!text-neutral-800
  dark:bg-neutral-200
  w-[340px]
  p-6 
  shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)];

  & h5 {
    @apply text-xl 
    font-medium 
    leading-tight;
  }

  & article {
    @apply mt-2 
    grid 
    grid-cols-2 
    gap-1.5;

    & span {
      @apply relative 
      block
      px-[0.65em] 
      pb-[0.25em] 
      pt-[0.35em] 
      ml-[0.5rem]
      text-left 
      text-[0.75em] 
      font-bold 
      leading-none
      before:absolute 
      before:left-[-0.5rem] 
      before:w-[0.75rem] 
      before:h-[0.75rem] 
      before:rounded-full 
      before:bg-[var(--bg-color)];
    }
    & p {
      @apply col-span-2 
      mb-4 
      text-base 
      text-neutral-600;
    }
  }
}
