@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply h-full;
  }
  body {
    @apply bg-neutral-200
    dark:bg-neutral-700
    text-gray-900
    dark:text-neutral-200
    min-h-screen;
  }

  .alert-success, .alert-danger {
    @apply text-center font-bold text-lg m-1 p-2 rounded-lg;
  }

  .alert-success {
    @apply text-green-800 bg-green-100
  }

  .alert-danger {
    @apply text-red-800 bg-red-100;
  }

  @import "./Components/_Ticket.tw.css";
  @import "./Components/_Navbar.tw.css";
  @import "./Components/_Tabs.tw.css";
  @import "./Components/_Form.tw.css";

  @import "./Layouts/_Dashboard.tw.css";
  @import "./Layouts/_Login.tw.css";
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "nav" 
    "main" 
    "footer"; 
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}
