@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  html {
    @apply h-full box-border bg-gray-800;
  }
  body {
    @apply bg-neutral-50
    m-auto
    max-w-[540px]
    md:max-w-[720px]
    lg:max-w-[960px]
    xl:max-w-[1140px]
    2xl:max-w-[1320px]
    dark:bg-neutral-700
    text-gray-900
    dark:text-neutral-200
    min-h-screen;
  }

  button,
  .btn {
    @apply inline-block
    rounded-md 
    bg-indigo-600
    px-3 
    py-1.5 
    text-sm 
    font-semibold 
    leading-6 
    text-white 
    shadow-sm
    hover:bg-indigo-500 
    focus-visible:outline 
    focus-visible:outline-2 
    focus-visible:outline-offset-2 
    focus-visible:outline-indigo-600;
  }

  .btn {
    @apply mb-4;
  }

  .alert-success,
  .alert-danger {
    @apply text-center font-bold text-lg m-1 p-2 rounded-lg;
  }

  .alert-success {
    @apply text-green-800 bg-green-100;
  }

  .alert-danger {
    @apply text-red-800 bg-red-100;
  }

  @import "./Components/_Ticket.tw.css";
  @import "./Components/_Navbar.tw.css";
  @import "./Components/_Tabs.tw.css";
  @import "./Components/_Response.tw.css";
  @import "./Components/_Form.tw.css";
  @import "./Components/_Table.tw.css";
  @import "./Components/_Application.tw.css";

  @import "./Layouts/_Dashboard.tw.css";
  @import "./Layouts/_Login.tw.css";
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav"
    "main"
    "footer";
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
}
