{% extends 'base.html.twig' %}

{% block body %}

	{# navbar #}
	{{ component('NavbarComponent') }}
	{% for message in app.flashes('success') %}
		<div class="alert-success">
			{{ message | nl2br }}
		</div>
	{% endfor %}
	{% for message in app.flashes('danger') %}
		<div class="alert-danger">
			{{ message | nl2br }}
		</div>
	{% endfor %}

	<main class="h-full">
			{% block content %}{% endblock %}
	</main>

{% endblock %}
