{% extends 'dashboardLaoyout.html.twig' %}

{% block content %}

	<section class="dashboard-content">
		<a href="{{ path('app_dashboard_applications') }}" class="btn">Retour aux applications</a>

		<div>
			{{ form_start(form) }}
			{{ form_end(form) }}
		</div>
	</section>
{% endblock %}
